# ipython things
*/__pycache__/*
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.egg-info

# Full DLC folders
DLC_Projects/

# Many figures for presentations
Presentations/
notebooks/Scratch/
*.eps

# Too large
*.pickle
*.pkl
*.png
*.jpg
*.btf
*.zip
*.tif
*.mp4
*.ckpt
*.avi
*.gif
*.npy
*.npz
wbfm/utils/neuron_matching/opencv_samples/
old/*
.idea/
/wbfm/experiments/
wbfm/new_project_defaults/snakemake/.snakemake/
*.out.*
*.out
/wbfm/logs/*
/wbfm/scratch/*
/wbfm/**/lightning_logs/*
/wbfm/**/wandb/*
/DLC_for_WBFM/*
*.log
*.zarr/
/wbfm/notebooks/alternative_ideas//dask-worker-space/
*.pth
wbfm/notebooks/**/*.ipynb
wbfm/notebooks/*.ipynb

*.json
*.json.gz
*.lock
/**/Dockerfile
/wbfm/scratch/
/docs/*.dtmp
/docs/*.bkp

/wbfm/tests/.hypothesis/examples/*
/wbfm/tests/.hypothesis/examples/**/*
/wbfm/notebooks/paper/cluster_triggered_average_many_clusters/
/wbfm/notebooks/paper/Old/
/wbfm/notebooks/presentations_and_grants/manuel_presentation_may_2023/
/wbfm/notebooks/paper/iframe_figures/
/wbfm/notebooks/alternative_ideas/*
/wbfm/notebooks/paper/supplement/all_dataset_summaries/*.pdf
/wbfm/**/scratch.py

*.svg
*.html
*.h5
*.nwb
*.gv
*.gv.pdf
