# ipython things
*/__pycache__/*
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.egg-info

# Full DLC folders
DLC_Projects/

# Many figures for presentations
Presentations/

Scratch/

# Too large
*.pickle
*.png
*.tif
*.mp4
*.avi
DLC_for_WBFM/utils/feature_detection/opencv_samples/
